* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
  text-shadow: 1px 1px black;
  font-size: 18px;
}

html {
    scroll-behavior: smooth;
}

#message, footer {
  opacity: 0.8;
}

.jumbotron, img, .card {
  border-radius: 100%;
  background-color: black;
}

#profile {
  max-width: 50%;
  height: 20vh;
  margin: 0;
  padding: 1%;
}

body, #welcome,  #prof-frame, #email, #resume, #linkedin, #twitter, 
#voicemail, #github, #html, #jquery, #js, #mongo, #mysql, #node, 
#profile, #react, #bootstrap, #ucla, #css, .app-card {
  background-position: center;
  background-repeat: no-repeat;
}

#welcome, #prof-frame, #email, #resume, #voicemail, #github, #react,  
#jquery, #mongo, #mysql, .app-card {
  background-size: 100%;
}

#linkedin, #twitter, #js, #bootstrap, #ucla {
  background-size: 110%;
}

#html, #css, #node {
  background-size: 75%;
}

#github, #js, #mongo {
  background-color: #ffffff;
}

body {
  background-image: url("../images/portfolio-background.png");
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
  position: relative;
}

.card {
  height: 100px;
  width: 100px;
  margin: 20px;
}

.app-card {
  border-radius: 100%;
  height: 250px;
  width: 100%;
}

.app-div {
    width: 450px;
}

#welcome {
  background-image: url("../images/welcome-moon.png");
}

#prof-frame {
  background-image: url("../images/profile-background.png");
  padding: 0;
  margin: auto;
}

#app0 {
  background-image: url("../images/GYST-JS.png");
}

#app1 {
  background-image: url("../images/Concert-Concierge.png");
}

#app2 {
  background-image: url("../images/GetYourShitTogether.png");
}

#app3 {
  background-image: url("../images/Crystal-Collector.png");
}

#app4 {
  background-image: url("../images/Trivia-Game.png");
}

#app5 {
  background-image: url("../images/doggy-diary.png");
}

#email {
  background-image: url("../images/sun.png");
}

#resume {
  background-image: url("../images/saturn.png");
}

#linkedin {
  background-image: url("../images/linkedin.png");
}

#twitter {
  background-image: url("../images/twitter.png");
}

#voicemail {
  background-image: url("../images/jupiter.png");
}

#github {
  background-image: url("../images/github.png");
}

#html {
  background-image: url("../images/html-5.png");
}

#css {
  background-image: url("../images/css-3.png");
}

#js {
  background-image: url("../images/javascript.png");
}

#node {
  background-image: url("../images/nodejs.png");
}

#react {
  background-image: url("../images/reactjs-sm.png");
}

#bootstrap {
  background-image: url("../images/bootstrap.jpg");
}

#jquery {
  background-image: url("../images/jquery.png");
}

#mongo {
  background-image: url("../images/mongodb.png");
}

#mysql {
  background-image: url("../images/mysql.png");
}

#ucla {
  background-image: url("../images/ucla-extension-logo.png");
}

footer {
  position: static;
  height: 100%;
  padding: 1%;
  font-style: italic;
  font-size: 10px;
}

#home-div {
    position: relative;
    width: 100%; 
    height: 85vh; 
    margin-top: 100px;
}

.arrow {
    height: 50px;
    width: 50px;
    border: 5px solid rgba(231, 231, 231, 0.692);
    border-top: none;
    border-right:none;
    border-radius: 10%;
    box-shadow: -4px 2px 2px 0 rgba(252, 252, 252, 0.5);
}
.arrow * {
    opacity: 0;
}
.arrow:hover {
    cursor: pointer;
}        

.down-arrow {
    transform: rotate(-45deg);
    left: 48%;
    bottom: 5%;
    position: absolute;
    animation: down 3s linear infinite;
}
.down-arrow:hover {
    animation-play-state: paused;
}
@keyframes down {
    10% { transform: rotate(-45deg) translate(-5px, 5px); }            
    20% { transform: rotate(-45deg) translate(0); }            
    30% { transform: rotate(-45deg) translate(-5px, 5px); }
    40% { transform: rotate(-45deg) translate(0); }   
}
.about-arrow {
    position: absolute;
    top: 5%;
    left: 25%;
    transform: rotate(-45deg);
    animation: down 3s linear infinite;
}
.about-arrow:hover {
    animation-play-state: paused;
}

@media screen and (max-width: 600px) {
    .app-div {
        width: 300px;
        height: 100vh;
        font-size: 75%;
    }

    .app-card {
        height: 150px;
    }
  
}
