* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
  text-shadow: 1px 1px black;
  font-size: 18px;
}

.navbar, #message, footer {
  opacity: 0.8;
}

.jumbotron, img, .card, .carousel-caption {
  border-radius: 100%;
  background-color: black;
}

#profile {
  max-width: 50%;
}

body, #welcome,  #prof-frame, #email, #resume, #linkedin, #twitter, 
#voicemail, #github, #html, #jquery, #js, #mongo, #mysql, #node, 
#profile, #react, #bootstrap, #ucla, #css {
  background-position: center;
  background-repeat: no-repeat;
}

#welcome, #prof-frame, #email, #resume, #voicemail, #github, #react,  
#jquery, #mongo, #mysql {
  background-size: 100%;
}

#linkedin, #twitter, #js, #bootstrap, #ucla {
  background-size: 110%;
}

#html, #css, #node {
  background-size: 75%;
}

#github, #js, #mongo {
  background-color: #ffffff;
}

body {
  background-image: url("../images/astrology-astronomy-beautiful-2387877.jpg");
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
  position: relative;
}

.card {
  height: 100px;
  width: 100px;
  margin: 20px;
}

#welcome {
  background-image: url("../images/moon.jpg");
}

#prof-frame {
  background-image: url("../images/close-up-color-colour-73873.jpg");
}

#email {
  background-image: url("../images/sun.jpg");
}

#resume {
  background-image: url("../images/saturn.png");
}

#linkedin {
  background-image: url("../images/linkedin.png");
}

#twitter {
  background-image: url("../images/twitter.png");
}

#voicemail {
  background-image: url("../images/jupiter.jpg");
}

#github {
  background-image: url("../images/github.png");
}

#html {
  background-image: url("../images/html-5.png");
}

#css {
  background-image: url("../images/css-3.png");
}

#js {
  background-image: url("../images/javascript.png");
}

#node {
  background-image: url("../images/nodejs.png");
}

#react {
  background-image: url("../images/reactjs.png");
}

#bootstrap {
  background-image: url("../images/bootstrap.jpg");
}

#jquery {
  background-image: url("../images/jquery.png");
}

#mongo {
  background-image: url("../images/mongodb.jpg");
}

#mysql {
  background-image: url("../images/mysql.png");
}

#ucla {
  background-image: url("../images/ucla-extension-logo.jpg");
}

footer {
  position: static;
  height: 100%;
  padding: 1%;
  font-style: italic;
  font-size: 10px;
}